{% extends 'base.html' %}
{% block content %}

{% load static %}
    <title>Sale Medkits</title>
<link rel="stylesheet" href="{% static 'statics/style/sale.css' %}">
<link rel="stylesheet" href="{% static 'statics/style/bootstrap.css' %}">

    <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form method="POST">
                {% csrf_token %}

                {% for m in messages %}
                <h3 style="text-align: center;">{{m}}</h3>
                {% endfor %}
        
                {{form.as_p}}
                <!-- <a href="{% url 'displaydata' %}" class="btn btn-success">SALE</a> -->
                <button type="submit" class="btn btn-success">ADD</button>
                <a href="{% url 'displaydata' %}" class="btn btn-warning">BACK</a>
            </form>
          </div>
        </div>
      </div>

    
{% endblock %}